* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    padding: 8px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #ccc;
    background-color: #333;
}

h1 {
    margin-top: 1rem;
}

canvas {
    margin-top: 2rem;
    width: 100%;
    max-width: 600px;
    border: 1px solid #ccc;
}

#scores {
    width: 100%;
    max-width: 600px;
    margin-top: 2rem;
    font-size: 1.5rem;
    display: flex;
    justify-content: space-around;
}
#scores span {
    width: 5rem;
    padding: 0.5rem;
    text-align: center;
    border-radius: 0.5rem;
}
.player1 {
    background-color: #c33;
}
.player2 {
    background-color: #33c;
}
.player {
    background-color: #ccc;
    color: #333;
}
.enemy {
    background-color: #666;
}

#controller {
    width: 160px;
    height: 120px;
    margin-top: 2rem;
    display: none;
    grid-template-areas:
        '. U U .'
        'L L R R'
        '. D D .';
}
#up {
    grid-area: U;
}
#left {
    grid-area: L;
}
#right {
    grid-area: R;
}
#down {
    grid-area: D;
}
.hidden {
    display: none !important;
}
#controller button {
    font-size: 1.5rem;
    border: 2px solid #ccc;
    background-color: #666;
    color: #ccc;
    border-radius: 100px;
    width: 50px;
    height: 50px;
    outline: none;
}
#controller button:hover {
    color: #666;
    background-color: yellowgreen;
}

@media only screen and (max-width: 600px) {
    body {
        justify-content: start !important;
    }
    h1 {
        font-size: 1.5em;
    }
    #controller {
        display: grid;
    }
}
